:root{
    /*change colors*/
    --primbgcol:rgb(255, 235, 209);
    --secbgcol:rgb(255, 240, 193);
    --primelemcol:#521f00;
    --tablecol:#521f00;
}

body{
    background-color: var(--primbgcol);
    margin: 0%;
    height: 100vh;
    font-family: 'Lora';
}

@font-face {
    font-family: 'Lora';
    src: url('@fonts/Lora-VariableFont_wght.ttf');
}

/*Augšas attēli un logo*/

#topsection{
    position: fixed;
}

#bannerdiv{
    width: 100vw;
    height: 35vh;
    background-image: url('@img/banner.webp');
    display: flex;
    background-position: center;
    background-size: 100% 120%;
    justify-content: center;
    align-items: center;
}

#logo{  
    height: 21vh;
    margin-top: 4vh;
}

/*Navigācija*/

#navigation {
    color: var(--primelemcol);
    display: flex;
    border-top: 5px var(--tablecol) solid;
    border-bottom: 5px var(--tablecol) solid;
    justify-content: center;
    font-size: 2rem;
    width: 100vw;
    flex-wrap: wrap;
    background-color: var(--primbgcol);
}

#navigation a{
    text-decoration: none;
    color: var(--primelemcol);
    padding: 15px 15px 15px 15px;
}

#navigation a:hover{
    background-color: var(--primelemcol);
    color: var(--primbgcol);
}

.leftnav{
    border-right: 2px var(--tablecol) solid;
}

#navspacer{
    height: 100%;
    width: 2.2em;
}

#topspacer{
    height: calc(5em + 35vh); /*nav height + bannerdiv height*/
    width: 100%;
    display: block;
}

/*Pirmā lapa*/

#welcome-container{
    display: flex;
    justify-content:center;
    padding-top: 5vh;
}

h1 {
    text-align: center;
}

.kartes{
    background-color:gray;
    height:45vh;
    display:flex;
    align-items:center;
    justify-content:center;
    aspect-ratio:7/9;
    margin:0 6rem;
    background-position: center;
    text-decoration: none;
    color: var(--primbgcol);
    background-size: 120%;
}

@keyframes kartesZoom {
    0% {background-size: 120%}
    100% {background-size: 130%}
}

.kartes:hover{
    -moz-animation: kartesZoom 1s linear forwards;
    -webkit-animation:kartesZoom 1s linear forwards;
    -o-animation:kartesZoom 1s linear forwards;
    animation:kartesZoom 1s linear forwards;
    color: var(--secbgcol);
}

.karte-teksts{
    padding: 2vh;
    background-color: rgba(0,0,0,0.5);
    font-size: 4vh;
}

#jumts-karte{
    background-image: url('@img/jumts.webp');
}

#skaidas-karte{
    background-image: url('@img/skaidas.webp');
}

#eu-karte{
    background-image: url('@img/eu.webp');
}


/*.welcome-container{
    display:grid;
    grid-template-columns: auto 844.8px;;
    column-gap: 2vw;
    grid-template-rows: 3fr 2fr;
    padding: 2rem 5vw 0 5vw;
}
*/
/*pārvietots .blog-article un .article-body un .article-footer*/
/*
.carousel{
    width: 844.8px;
    height: 475.2px;
    background-color: rgb(101, 101, 101);
    margin-bottom: 1rem;  
    display: flex;
    justify-content: center;
    align-items: center;
}


.welcome-blog-container{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
}

.wide-welcome-blog-container{
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
}
.picture-container{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
}
*/

/*.welcome-blog-container>:nth-child(n+3){
    grid-column: 1 / 2;
}*/

/*middle.blade pogas

.topmidbuttons{
    width: 100%;
    font-size: 1.7em;  
    display: flex;
    justify-content: center;
    /*position: fixed; //noņemt komentāru, kad ir content
}


.topmidbuttons a{
    background-color: var(--primbgcol);
    color: var(--primelemcol);  text-decoration: none;
    padding: 0.05em 0.5em 0.05em 0.5em;
    border: 4px black solid;
    margin: 0.5vh -3px 0px -3px;
    width: 6vw;
    text-align: center;
}

.topmidbuttons a:hover{
    background-color: var(--primelemcol);
    color: var(--primbgcol);
}
*/


/*Blogs*/

.page-head{
    text-align: center;
}

.page-head h1{
    margin-top: 0.5vh;
}

.blog-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.createbutton{
    background-color: green;
    padding: 5px;
    border: 2px solid black;
    border-radius: 3px;
    text-decoration: none;
    color: var(--tablecol);
}

.createbutton:hover{
    background-color: lightgreen;
}

.blog-content{
    margin-top: 2vh;
}

.blog-article{
    max-height: 475.2px;
    width: 100%;
    flex-grow: 1;
    margin-bottom: 1rem;
    font-size: large;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.article-body{
    height: 445.2px;
}

.article-footer{
    color: var(--primelemcol);
    padding: 0.5vh;
    background-color: var(--secbgcol);
}
/*.full-width{
    width: 100%;
}*/

/* Objekti */

#objects-container{
    display: flex;
    flex-direction: row;
    padding: 0 5vw 0 5vw;
    justify-content: end;
}


#map{
    align-self: right;
    padding-left: 5vw;
}

#objects-list{
    flex-grow: 1;
}

#objects-list table{
    border: 5px var(--tablecol) solid;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    text-align: center;
}

#objects-list tr{
    border-bottom: 3px var(--tablecol) solid;
}

#objects-list th{
    font-size: large;
}

/*Piedāvājumi*/

#shop-container{
    padding: 1vh 5vw 0 5vw;
    display: flex;
    flex-direction: column;
    height: calc(100% - (5em + 36vh));
}

.shop{
    flex-grow: 1;
}

.shop h2{
    text-align: center;
}