:root{
    /*change colors*/
    --primbgcol:rgb(255, 0, 0);
    --secbgcol:rgb(255, 74, 74);
    --primelemcol:rgb(0, 128, 0);
    --tablecol:rgb(0, 0, 0);
}

body{
    background-color: var(--primbgcol);
    margin: 0%;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace; /*change*/
}

/*Augšas attēli un logo*/

#topsection{
    position: fixed;
}

#bannerdiv{
    width: 100vw;
    height: 20vh;
    background-image: url('@img/banner.webp');
    display: flex;
    background-position: center;
    background-size: 100% 120%;
    justify-content: center;
    align-items: center;
}

#logo{  
    height: 12vh;
    margin-top: 1.8rem;
}

/*Navigācija*/

#navigation {
    color: var(--primelemcol);
    display: flex;
    border-top: 5px var(--tablecol) solid;
    border-bottom: 5px var(--tablecol) solid;
    justify-content: center;
    font-size: 1.5rem;
    width: 100vw;
    flex-wrap: wrap;
    background-color: var(--primbgcol);
}

#navigation a{
    text-decoration: none;
    color: var(--primelemcol);
    padding: 2px 15px 2px 15px;
}

#navigation a:hover{
    background-color: var(--primelemcol);
    color: var(--primbgcol);
}

.leftnav{
    border-right: 2px var(--tablecol) solid;
}

#navspacer{
    height: 100%;
    width: 2.2em;
}

#topspacer{
    height: calc(41px + 20vh); /*nav height + bannerdiv height*/
    width: 100%;
    display: block;
}

/*Pirmā lapa*/

.welcome-container{
    display:grid;
    grid-template-columns: auto 844.8px;;
    padding-top: 2rem;
    column-gap: 2vw;
    grid-template-rows: 3fr 2fr;
    padding: 2rem 5vw 0 5vw;
}

.carousel{
    width: 844.8px;
    height: 475.2px;
    background-color: rgb(101, 101, 101);
    margin-bottom: 1rem;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-article{
    max-height: 475.2px;
    width: 100%;
    flex-grow: 1;
    margin-bottom: 1rem;
    font-size: large;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.article-body{
    height: 445.2px;
}

.article-footer{
    color: var(--primelemcol);
    padding: 0.5vh;
    background-color: var(--secbgcol);
}

.welcome-blog-container{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    font-family: "Times New Roman", Times, serif; /*change*/
}

.wide-welcome-blog-container{
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
}

.picture-container{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
}

/*.welcome-blog-container>:nth-child(n+3){
    grid-column: 1 / 2;
}*/

/*middle.blade pogas*/

.topmidbuttons{
    width: 100%;
    font-size: 1.7em;  
    display: flex;
    justify-content: center;
    /*position: fixed; //noņemt komentāru, kad ir content*/
}

.topmidbuttons a{
    background-color: var(--primbgcol);
    color: var(--primelemcol);  text-decoration: none;
    padding: 0.05em 0.5em 0.05em 0.5em;
    border: 4px black solid;
    margin: 0.5vh -3px 0px -3px;
    width: 6vw;
    text-align: center;
}

.topmidbuttons a:hover{
    background-color: var(--primelemcol);
    color: var(--primbgcol);
}

/*Blogs*/

.page-head{
    text-align: center;
}

.page-head h1{
    margin-top: 0.5vh;
}

.blog-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.createbutton{
    background-color: green;
    padding: 5px;
    border: 2px solid black;
    border-radius: 3px;
    text-decoration: none;
    color: var(--tablecol);
}

.createbutton:hover{
    background-color: lightgreen;
}

.blog-content{
    margin-top: 2vh;
}

/*.full-width{
    width: 100%;
}*/
/* Objekti */

.objects-container{
    display: flex;
    align-items: center;
}