:root{
    --primbgcol:rgb(255, 235, 209);
    --secbgcol:rgb(255, 240, 193);
    --primelemcol:#521f00;
    --tablecol:#521f00;
    --submitcol:rgb(95, 214, 95);
    --submitcolhover:rgb(65, 184, 65);
    --deletecol:rgb(214, 95, 95);
    --deletecolhover:rgb(184, 65, 65);
}

body{
    background-color: var(--primbgcol);
    margin: 0%;
    height: 100vh;
    font-family: 'Lora';
}

@font-face {
    font-family: 'Lora';
    src: url('@fonts/Lora-VariableFont_wght.ttf');
}

.nothing{
    margin: 0;
}

/*Augšas attēli un logo*/

#topsection{
    position: fixed;
}

#bannerdiv{
    width: 100vw;
    height: 35vh;
    background-image: url('@img/banner.webp');
    display: flex;
    background-position: center;
    background-size: 100% 120%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logo{  
    height: 21vh;
    /*margin-top: 4vh;*/
}

/*Auth*/

#auth-container{
    display: flex;
    justify-content: center;
}

#auth-form{
    width: 20vw;
}

.form-elem{
    display: flex;
    padding: 0.25em;
    justify-content: right;
}

.buttons{
    display: flex;
    justify-content: center;
    width: 100%;
}

.auth-input{
    margin-left: 0.25vw;
    width: 11vw;
}

#auth-container h2{
    text-align: center;
    margin-bottom: 0;
}

#auth-message{
    text-align: center;
    background-color: var(--submitcol);
    width: 100%;
    display: fixed;
}

.error-list{
    color: red;
    background-color: rgba(0, 0, 0, 0.31);
    padding: 1em 2em;
    border-radius: 1em;
}

#user-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-container table{
    width: 50vw;
    margin-top: 1em;
}

/*Navigācija*/

#navigation {
    color: var(--primelemcol);
    display: flex;
    border-top: 5px var(--tablecol) solid;
    border-bottom: 5px var(--tablecol) solid;
    justify-content: center;
    font-size: 2rem;
    width: 100vw;
    flex-wrap: wrap;
    background-color: var(--primbgcol);
}

#navigation a{
    text-decoration: none;
    color: var(--primelemcol);
    padding: 15px 15px 15px 15px;
}

#navigation a:hover{
    background-color: var(--primelemcol);
    color: var(--primbgcol);
}

.leftnav{
    border-right: 2px var(--tablecol) solid;
}

#navspacer{
    height: 100%;
    width: 2.2em;
}

#topspacer{
    height: calc(5em + 35vh); /*nav height + bannerdiv height*/
    width: 100%;
    display: block;
}

#authspacer{
    width: 100%;
    display: block;
    height: 2.7rem; /*auth height*/
}

#languages{
    background-color: var(--primbgcol);
    opacity: 0.5;
    font-size: 1.5em;
    align-self: first baseline;
    margin-left: 1em;
    padding: 0.3em;
}

#languages a{
    text-decoration: none;
    color: var(--primelemcol);
    padding: 0.3em;
}

#languages a:hover{
    background-color: var(--primelemcol);
}

/*Pirmā lapa*/

#welcome-container{
    display: flex;
    justify-content:center;
    padding-top: 5vh;
}

h1 {
    text-align: center;
}

.kartes{
    background-color:gray;
    height:45vh;
    display:flex;
    align-items:center;
    justify-content:center;
    aspect-ratio:7/9;
    margin:0 6rem;
    background-position: center;
    text-decoration: none;
    color: var(--primbgcol);
    background-size: 120%;
}

@keyframes kartesZoom {
    0% {background-size: 120%}
    100% {background-size: 130%}
}

.kartes:hover{
    -moz-animation: kartesZoom 1s linear forwards;
    -webkit-animation:kartesZoom 1s linear forwards;
    -o-animation:kartesZoom 1s linear forwards;
    animation:kartesZoom 1s linear forwards;
    color: var(--secbgcol);
}

.karte-teksts{
    padding: 2vh;
    background-color: rgba(0,0,0,0.5);
    font-size: 4vh;
}

#jumts-karte{
    background-image: url('@img/jumts.webp');
}

#lubinas-karte{
    background-image: url('@img/lubinas.webp');
}

#eu-karte{
    background-image: url('@img/eu.webp');
}


/*.welcome-container{
    display:grid;
    grid-template-columns: auto 844.8px;;
    column-gap: 2vw;
    grid-template-rows: 3fr 2fr;
    padding: 2rem 5vw 0 5vw;
}
*/
/*pārvietots .blog-article un .article-body un .article-footer*/
/*
.carousel{
    width: 844.8px;
    height: 475.2px;
    background-color: rgb(101, 101, 101);
    margin-bottom: 1rem;  
    display: flex;
    justify-content: center;
    align-items: center;
}


.welcome-blog-container{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
}

.wide-welcome-blog-container{
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
}
.picture-container{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
}
*/

/*.welcome-blog-container>:nth-child(n+3){
    grid-column: 1 / 2;
}*/



/*Blogs*/

.page-head{
    text-align: center;
}

.page-head h1{
    margin-top: 0.5vh;
}

.blog-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.submit-button{
    background-color:var(--primbgcol);
    border: 2px solid var(--tablecol);
    border-radius: 3px;
    text-decoration: none;
    color: var(--tablecol);
    font-size: 1em;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
}

.submit-button:hover{
    background-color: var(--submitcol);
}

.blog-content{
    margin-top: 2vh;
}

.blog-article{
    min-height: 33vh;
    width: 100%;
    flex-grow: 1;
    margin-bottom: 1rem;
    font-size: large;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}

.article-body{
    min-height: 30vh;
    width: 90vw;
    background-color: var(--secbgcol);
    padding: 1em;
}

.article-footer{
    color: var(--primelemcol);
    padding: 0.5vh;
    background-color: var(--secbgcol);
}
.full-width{
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.new a{
    text-decoration: none;
    color: var(--primelemcol);
    border: var(--tablecol) solid 3px;
    padding: 0.3em;
}   

.new a:hover{
    color: var(--primbgcol);
    background-color: var(--submitcolhover);
}

.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70vw;
    margin: 0px auto;
}

.form-width{
    width: 5vw;
}

.pin{
    display: flex;
    padding-top: 1em;
}

.form > label{
    padding-top: 1em;
}

.form button{
    background-color: var(--submitcol);
    align-self: center;
    border-radius: 5px;
}

.form button:hover{
    background-color: var(--submitcolhover);
}

.delete a{
    text-decoration: none;
    color: var(--deleteemcol);
    border: var(--tablecol) solid 3px;
    padding: 0.3em;
}   

.delete a:hover{
    color: var(--primbgcol);
    background-color: var(--deletecolhover);
}

/* Objekti */

#objects-container{
    display: flex;
    flex-direction: row;
    padding: 0 5vw 0 5vw;
    justify-content: end;
}

#show-objects-container{
    display: flex;
    margin: 0px 6em;
}

#map{
    align-self: right;
    padding-left: 5vw;
}

#objects-list{
    flex-grow: 1;
}

#objects-list table{
    border: 5px var(--tablecol) solid;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    text-align: center;
}

#objects-list tr{
    border-bottom: 3px var(--tablecol) solid;
}

#objects-list th{
    font-size: large;
}

#edit-object-container{
    display: flex;
    margin: 0px 5vw;
}

.object-body{
    min-height: 30vh;
    width: 67vw;
    background-color: var(--secbgcol);
    padding: 1em;
}

/*Piedāvājumi*/

#shop-container{
    padding: 1vh 5vw 0 5vw;
    display: flex;
    flex-direction: column;
    height: calc(100% - (5em + 36vh));
}

.shop{
    flex-grow: 1;
}

.shop h2{
    text-align: center;
}

/*Galerija*/
#gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.gallery-cell{
    display: flex;
}

.gallery-placeholder{
    background-color: gray;
    margin: 1em;
    flex-grow: 1;
}

.gptype-1{
    /*height: 1080px;
    width: 1920px;*/
    max-height: 468px;
    max-width: 815px;
    height: 468px;
    width: 815px;
}

.gptype-2{
    /*height: 1920px;
    width: 1080px;*/
    max-height: 468px;
    max-width: 815px;
    height: 815px;
    width: 468px;
}

.gptype-3{
    /*height:744px;
    width: 526px;*/
    max-height: 468px;
    max-width: 815px;
    height: 744px;
    width: 526px;
}

.gallery-cell a:hover{
    background-color: darkgray;
}