body{
    background-color: red;
}
.full {
    width: 100%;
}
#navigation {
    height: 50px;
    /*background-color: red;*/
    color: green;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    text-align: center;
    display: flex;
}

#navigation a{
    height:50%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    width: 9%;
    display: inline-block;
    font-size:x-large;
}

#navigation a:hover{
    background-color: green;
    color: red;
}

#alignment{
    height: auto;
    width: 23%;
    display: inline-block;
}

#bannerdiv{
    width: 100%;
    max-height: 10%;
}

#bannerdiv img{
    background-image: url('storage/banner.jpg');
    width: 100%;
    height: auto;
}